
<mat-toolbar class="nav flx">
  <!-- <mat-toolbar color="primary"> -->
    <!-- <button mat-icon-button (click)="openSideNav()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <span> Aplicação Checklist </span> -->
    
  <!-- <div class="flx"> -->
    <div class="flx">
      
      <button mat-button [routerLink]="['/']"  ><img  alt="..." class="home"></button>
      <button mat-button [routerLink]="['/abertura']">Abertura de Empresa</button>
      <button mat-button [routerLink]="['/contabilidade']">Escolhendo Contabilidade</button>
      <button mat-button [matMenuTriggerFor]="planejamento" >Planejamento</button>
      <mat-menu #planejamento="matMenu">
        <button mat-menu-item [routerLink]="['/marketing']" >Marketing</button>
        <button mat-menu-item [routerLink]="['/financeiro']" >Financeiro</button>
        <button mat-menu-item [routerLink]="['/nota-fiscal']" >Nota Fiscal</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="informacoes" >Informações</button>
      <mat-menu #informacoes="matMenu">
        <button mat-menu-item [routerLink]="['/cnae']" >Escolhendo segmento CNAE</button>
        <button mat-menu-item [routerLink]="['/tributacao']" >Escolhendo Tributação</button>
      </mat-menu>
      @if (autorizaService.statusLogin()) {
        <button mat-button [routerLink]="['/questionario']" >Questionário</button>
      }
    </div>
      <div class="flx-end">
        <button mat-button [routerLink]="['/login']">Login</button>

      </div>
    
    <!-- </div> -->
  </mat-toolbar>
  


