<!-- <p>questionario works!</p> -->
<!-- <main class="index"> -->
    <!-- <label for=""></label> -->
    <label for="exampleFormControlInput1" class="form-label">Tipo Empresa</label>

  <select class="form-select" aria-label="Default select example">
    <option selected>Selecione tipo empresa...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
    <label for="exampleFormControlInput1" class="form-label">Ramo Empresa</label>

  <select class="form-select" aria-label="Default select example">
    <option selected>Selecione ramo empresa...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
    <label for="exampleFormControlInput1" class="form-label">CNAE</label>

  <select class="form-select" aria-label="Default select example">
    <option selected>Selecione Cnae...</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
<!-- </main> -->