<!-- <p>questionario works!</p> -->
<!-- <main class="index"> -->
    <!-- <label for=""></label> -->
    <label for="exampleFormControlInput1" class="form-label">Tipo Empresa</label>

  <select class="form-select" aria-label="Default select example" (change)="popularRamoEmpresa($event)">
    <option selected hidden>Selecione ramo empresa...</option>
    @for (tipo of tipoEmpresa; track $index) {
      <option [value]="tipo.id">{{tipo.nome}}</option>

    }
  </select>
    <label for="exampleFormControlInput1" class="form-label">Ramo Empresa</label>

  <select class="form-select" aria-label="Default select example" (change)="popularCnae($event)">
    <option selected hidden>Selecione ramo empresa...</option>
    @for (ramo of ramoEmpresaFiltrado; track $index) {
      <option [value]="ramo.id">{{ramo.nome}}</option>
    }
  </select>
    <label for="exampleFormControlInput1" class="form-label">CNAE</label>

  <select class="form-select" aria-label="Default select example">
    <option selected hidden>Selecione Cnae...</option>
    @for (c of cnaeFiltrado; track $index) {
      <option [value]="c.id">{{c.nome}}</option>
    }

  </select>
<!-- </main> -->
