/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.h-p100{
    height: 100%;
}
.w-p10{
    width: 20%;
}

.ml-15{
    margin-left: 15px;
}

.w-100{
    width: 100%;
}

.w-300{
    width: 300px;
}
.mg-20{
    margin: 20px;
}

.mr-10{
    margin-right: 10px;
}

.flx-center-row{
    display: flex;
    flex-direction: row ;
    align-items: center;
}

.flx-evly{
    justify-content: space-evenly;
}





footer {
  background: linear-gradient(#321a44, #4b008400);
  color: white;
  padding: 20px 0;
  display: flex;
  // position: fixed;
  // left: 0;
  // bottom: 0;
  width: 100%;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.logo {
  max-width: 20%;
  border-radius: 100px;
}

.home {
  background-image: url(app/img/strayCode.png);
  max-width: 30px;
  border-radius: 100px;
}

.nav {
  background: linear-gradient(#321a44, #4b008400) !important;
}

.abertura {
  background-image: url(app/img/aberturaEmpresa.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.contabilidade{
  background-image: url(app/img/contabilidade.jpg);
  background-size: 100%;

  background-repeat: no-repeat;
}

.tributacao{
  background-image: url(app/img/tributacao.jpg);
  background-size: 100%;

  background-repeat: no-repeat;
}

.marketing{
  background-image: url(app/img/marketing.jpg);
  background-size: 100%;

  background-repeat: no-repeat;
}

.financeiro{
  background-image: url(app/img/financeiro.jpg);
  background-size: 100%;

  background-repeat: no-repeat;
}

.concorrente{
  background-image: url(app/img/concorrente.jpg);
  background-size: 100%;

  background-repeat: no-repeat;
}

.notaFiscal{
  background-image: url(app/img/notaFical.jpg);
  background-size: 100%;

  background-repeat: no-repeat;
}

.cnae{
  background-image: url(app/img/cnae.jpg);
  background-size: 220vh 82vh;
  background-repeat: no-repeat;
}

.index{
  background-color: rgba(0, 255, 0, 0.15);
  background-size: 100%;

  background-repeat: no-repeat;
}

.imagemBG {
  display: flex;
  position: fixed;
  right: 0;
  height: 83vh;
}

.texto {
  height: 83vh;
  background-color: #c3c4c5e0;
  overflow-y: scroll;
  text-align: justify;

}

.texto::-webkit-scrollbar {
  width: 10px;
  background-color: #c3c4c5e0;
  border-radius: 20px;
  border: 3px solid #c3c4c5e0;
}

.texto::-webkit-scrollbar:hover {
  width: 15px;
  background-color: #c3c4c5e0;
  border-radius: 20px;
  border: 3px solid #c3c4c5e0;
}

.texto::-webkit-scrollbar-thumb {
  background: #6b6b6be0;
  border-radius: 20px;
  border: 3px solid #bbbbbbe0;
}

.texto:hover::-webkit-scrollbar-thumb {
  width: 15px;
  background: #6b6b6be0;
  border-radius: 20px;
  border: 3px solid #bbbbbbe0;
}

.imgCarousel{
  width: 50%;
}

.imgCarouselVisao{
  width: 51.5%;

}

.fundoCarousel{
  background-color: #c3c4c5e0;
}

.textoCarousel{
  margin-left: 40px;
}

.carousel{
  padding: 11.3vh 0 11.3vh;
}

.active{
  display: flex !important;
}

h2{
  text-align: center;
}

@media only screen and (max-height: 924px) {
  .carousel{
      padding: 14.5vh 0 14.5vh;
  }
  .texto {
      height: 82vh;
  }
}

@media only screen and (max-height: 670px) {
  .carousel{
      padding: 0.5vh 0 0.5vh;
  }

  .texto {
      height: 67.8vh;
  }
}
